<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}

    <!-- Main Header -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--Left Side Div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="https://th.bing.com/th/id/OIP.9fHm2tDljCGeF5WzbXYU0QHaHi?pid=ImgDet&rs=1" alt="image" class="img-fluid" title="Yogesh Indoria">
                        </figure>    
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                
                        <h2>Hi My Self <span class="text_clr"> Yogesh Indoria. </span></h2>
                        <h1>I Am A <span class="text_clr"> Mern Stack Developer </span> and A Freelancer</h1>
                        <a href="https://www.linkedin.com/in/yogeshindoria/"><button> About me </button></a>
                    </div>
                    <!--Right Side Div -->
                    
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {{>footer}}
</body>

</html>